@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary: #d3e41a;
  --primary-muted: #d5daa0;
  --secondary: #020b4f;
  --muted: #999;
  --background: #fff;
  --background-muted: #eee;
  --foreground: #2d304d;
  --foreground-muted: #3f4366;
  ;
}

.cover-bg {
  background-image: url('/images/img5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.text-stroke {
  -webkit-text-stroke: 2px #fff;
}

#global-counts:hover .text-stroke {
  -webkit-text-stroke: 0px;
}